@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --safe-area-bottom: calc(100vh - var(--tg-viewport-stable-height, 100vh))
}

/*.footer{*/
/*    padding-bottom: var(--safe-area-bottom)*/
/*}*/

.box{
    /*padding-bottom: calc(1rem + var(--safe-area-inset-bottom));*/
    /*padding-bottom: var(--safe-area-inset-bottom);*/
}

body{
  /*background: radial-gradient(169.40% 89.55% at 94.76% 6.29%, rgba(255, 255, 255) 0%, rgba(169, 169, 169) 100%) !important;*/
    background-image: url('/images/app-bg.jpg') !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  color: #000 !important;
  overflow: hidden !important;
}

html,
body,
:root {
  height: 100%;
  color-scheme: light;
}

.top-left {
  --r: 16px; /* the radius */
  --s: 26px; /* the size of the cut */

  --_m:/calc(2*var(--r)) calc(2*var(--r))
  radial-gradient(#eee 70%,#eee0 72%) no-repeat;
  mask:
          right 0 bottom calc(var(--s) + var(--r)) var(--_m),
          right calc(var(--s) + var(--r)) bottom 0 var(--_m),
          radial-gradient(var(--s) at 100% 100%,#eee0 99%,#eee 101%)
          calc(-1*var(--r)) calc(-1*var(--r)) no-repeat,
          conic-gradient(from 90deg at calc(100% - var(--s) - 2*var(--r)) calc(100% - var(--s) - 2*var(--r)),
          #eee0 25%,#eee 0);
}

.rounded-player{
    border-radius: 5px 75px 75px 5px;
}

.main {
    padding-bottom: calc(1rem + var(--safe-area-inset-bottom));
}